lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
Src/Website/SrcCode/PairingStar/_ReSharper.PairingStar/PersistentCaches/000005.sst
Src/Website/SrcCode/PairingStar/_ReSharper.PairingStar/PersistentCaches/000008.sst
Src/Website/SrcCode/PairingStar/_ReSharper.PairingStar/PersistentCaches/LOCK
Src/Website/SrcCode/PairingStar/_ReSharper.PairingStar/PersistentCaches/LOG
Src/Website/SrcCode/PairingStar/_ReSharper.PairingStar/PersistentCaches/MANIFEST-000007
